<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @book.intro %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @book.cover %>
</p>
<h2><%= @msg %></h2>
<% if @evaluation_exist %>
    <table>
      <tr>
        <td>Background</td>
        <td><strong><%= @evaluation.backscore %></strong> </td>
      </tr>
      <tr>
        <td>Plot</td>
        <td><strong><%= @evaluation.plotscore %></strong> </td>
      </tr>
      <tr>
        <td>Style</td>
        <td><strong><%= @evaluation.stylescore %></strong> </td>
      </tr>
      <tr>
        <td>Sum</td>
        <td><strong><%= @evaluation_sum %></strong> </td>
      </tr>
    </table>

    <%= link_to 'Change Evaluation', new_book_evaluations_path(@book) %>
<% else %>

    <%= link_to 'Create Evaluation', new_book_evaluations_path(@book) %>
<% end %>
<p> 

</p>



<h2>Reviews</h2>
<% @book.reviews.each do |review| %>
    <p>
      <strong><%= review.title %></strong>
    </p>
    <p>
      <%= review.content %>
    </p>
    <p>
      <%= review.reviewable_id %>|
      <%= review.reviewable_type %>
    </p>
<% end %>

<h2>Add a review:</h2>
<%= form_for([@book, @book.reviews.build]) do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
